.container {
    display: -ms-grid;
    -ms-grid-columns: 12.5em;
    -ms-grid-rows: repeat(12, 12.5em);
}

.a {
    /* -ms-grid-row: 1; */
    grid-row: 1;
    /* -ms-grid-column: 1; */
    grid-column: 1;
}

.b {
    /* -ms-grid-row: 2; */
    grid-row: 2;
    /* -ms-grid-column: 1; */
    grid-column: 1;    
}

.c {
    /* -ms-grid-row: 3; */
    grid-row: 3;
    /* -ms-grid-column: 1; */
    grid-column: 1;
}

.d {
    /* -ms-grid-row: 4; */
    grid-row: 4;
    /* -ms-grid-column: 1; */
    grid-column: 1;
}

.e {
    /* -ms-grid-row: 5; */
    grid-row: 5;
    /* -ms-grid-column: 1; */
    grid-column: 1;
}

.f {
    /* -ms-grid-row: 6; */
    grid-row: 6;
    /* -ms-grid-column: 1; */
    grid-column: 1;
}

.g {
    /* -ms-grid-row: 7; */
    grid-row: 7;
    /* -ms-grid-column: 1; */
    grid-column: 1;
}

.h {
    /* -ms-grid-row: 8; */
    grid-row: 8;
    /* -ms-grid-column: 1; */
    grid-column: 1;
}

.i {
    /* -ms-grid-row: 9; */
    grid-row: 9;
    /* -ms-grid-column: 1; */
    grid-column: 1;
}

.j {
    /* -ms-grid-row: 10; */
    grid-row: 10;
    /* -ms-grid-column: 1; */
    grid-column: 1;
}

.k {
    /* -ms-grid-row: 11; */
    grid-row: 11;
    /* -ms-grid-column: 1; */
    grid-column: 1;
}

.l {
    /* -ms-grid-row: 12; */
    grid-row: 12;
    /* -ms-grid-column: 1; */
    grid-column: 1;
}

@media (min-width: 47.5em) {
    .container {
        -ms-grid-columns: repeat(3, 12.5em);
        -ms-grid-rows: repeat(4, 12.5em);
        margin: 3em auto;
    }

    .a {
        /* -ms-grid-row: 1; */
        grid-row: 1;
        /* -ms-grid-column: 1; */
        grid-column: 1;
    }
    
    .b {
        /* -ms-grid-row: 1; */
        grid-row: 1;
        /* -ms-grid-column: 2; */
        grid-column: 2;
    }
    
    .c {
        /* -ms-grid-row: 1; */
        grid-row: 1;
        /* -ms-grid-column: 3; */
        grid-column: 3;
    }
    
    .d {
        /* -ms-grid-row: 2; */
        grid-row: 2;
        /* -ms-grid-column: 1; */
        grid-column: 1;
    }
    
    .e {
        /* -ms-grid-row: 2; */
        grid-row: 2;
        /* -ms-grid-column: 2; */
        grid-column: 2;
    }
    
    .f {
        /* -ms-grid-row: 2; */
        grid-row: 2;
        /* -ms-grid-column: 3; */
        grid-column: 3;
    }
    
    .g {
        /* -ms-grid-row: 3; */
        grid-row: 3;
        /* -ms-grid-column: 1; */
        grid-column: 1;
    }
    
    .h {
        /* -ms-grid-row: 3; */
        grid-row: 3;
        /* -ms-grid-column: 2; */
        grid-column: 2;
    }
    
    .i {
        -ms-grid-row: 3;
        grid-row: 3;
        -ms-grid-column: 3;
        grid-column: 3;
    }
    
    .j {
        -ms-grid-row: 4;
        grid-row: 4;
        -ms-grid-column: 1;
        grid-column: 1;
    }
    
    .k {
        -ms-grid-row: 4;
        grid-row: 4;
        -ms-grid-column: 2;
        grid-column: 2;
    }
    
    .l {
        -ms-grid-row: 4;
        grid-row: 4;
        -ms-grid-column: 3;
        grid-column: 3;
    }
}

/* @media (min-width: 1024px) {
    .container {
        -ms-grid-columns: repeat(4, 12.5em);
        -ms-grid-rows: repeat(3, 12.5em);
    }
} */