@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 16.5em;
    }

    a {
        margin: 2em;
    }

}
 
@media all and (min-width: 49.5em) and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-width: 49.5em) {
    
    .container {
        width: 49.5em;
    }
}

@media all and (min-width: 66em) and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-width: 66em) {
    
    .container {
        width: 66em;
    }
}